@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

}

:root{
  --color-01:hsl(32, 93%, 63%);
  --color-02: hsl(0, 15%, 9%);
  --color-03: hsl(66, 88%, 46%);
  --color-04: linear-gradient(180deg, #C7DB0E 0%, #D6E452 14.29%, #D6E452 46.43%, #C7DB0E 85.71%, #C7DB0E 87.5%), linear-gradient(180deg, #C7DB0E 0%, #D6E452 80.36%, #F1F4CD 100%);
  --font-01:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --font-02:'Roboto Slab', serif;
}

body{
  background: var(--color-02);
  font-family:var(--font-02);

}

header{
  color: var(--color-03);
  margin-top: 10%;
  text-align: center;
}

header h1{
  margin-bottom: 50px;
  font-size: 3rem;
}

#resultado {
  columns: 2;
  width: 450px;
  margin: auto;
}

section{
  margin: auto;
  font-size: 1.3rem;
  background:var(--color-01);
  font-family: var(--font-01);
  width: 410px;
  height: 260px;
  padding: 30px 1em 0 1em;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 
}

input{
  margin-left: 5px;
  padding: 6px 5px;
  border-radius: 10px; 
}

input[type="button"]{
  width:100px;
  padding: 5px;
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--font-02);
  letter-spacing: 1px;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  background: var(--color-04);
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.2));
}

img{
  float:left;
  width: 80px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.2));
}