*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

}

:root{
  --color-01:rgb(179, 101, 252);
  --color-02: rgb(27, 20, 20);
  --color-03: rgb(247, 199, 199);
  --font-01:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  background: var(--color-02);
}

header{
  color: var(--color-03);
  margin-top: 10%;
  text-align: center;
}

header h1{
  margin-bottom: 50px;
  font-size: 3rem;
}

#resultado {
  columns: 2;
  width: 450px;
  margin: auto;
}

section{
  margin: auto;
  font-size: 1.3rem;
  background:var(--color-01);
  font-family: var(--font-01);
  width: 410px;
  height: 260px;
  padding: 50px 1em 0 1em;
  border-radius: 10px;
 
}

input{
  margin-left: 5px;
  padding: 6px 5px;
  border-radius: 10px; 
}

input[type="button"]{
  width:100px;
  padding: 5px;
  font-weight: bold;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  background: var(--color-03);
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.2));
}

img{
  float:left;
  width: 80px;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.2));
}